html,body {
    margin: 0;
    padding: 0;
    color: red;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: black;
    /* background-image: url('../img/dungeonhell.png'); */
    background-size: cover;
    background-repeat: space;
  }
  
  
  canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-color: #222;
    width: 100%;
    height: 100%;
  }
  
  #container {
  max-width: 50em;
  /* height: 70vh; */
  background-color: rgb(17, 96, 96);
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-left"
                        "game game game"
                        "btm-right btm-right btm-right";
  }
  
  #top-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }
  
  #top-left {
    grid-area: top-left;
  }
  

  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    height: 7vh;
    /* background-color: #222; */
  }

#Instructions{
    position: relative;
    right: 38.5vw;
    bottom: 50vh;
    font-size: small;
}


#cardOne{
  position: absolute;
  bottom: 36.5vh;
  left: 34vw;
}
#cardTwo{
  position: absolute;
  bottom: 36.5vh;
  left: 41vw;
}
#cardThree{
  position: absolute;
  bottom: 36.5vh;
  left: 48vw;
}
#cardFour{
  position: absolute;
  bottom: 36.5vh;
  left: 54vw;
}
#cardFive{
  position: absolute;
  bottom: 36.5vh;
  left: 61vw;
}

#Scoreboard{
  position: absolute;
  bottom: 29%;
  right: 48%;
}
#playerCounter{
  position: absolute;
  bottom: 26%;
  right:48%
}
#aiCounter{
  position: absolute;
  bottom: 23%;
  right:48%
}
#kingDuke1{
  position: absolute;
  left: 32.3vw;
  bottom: 42.8vh;
  height: 16.3%;
  width: 7.2%;
 }

 #daisy1{
  position: absolute;
  left: 39.3vw;
  bottom: 42.8vh;
  height: 16.3%;
  width: 7.2%;
 }
 #zoey1{
  position: absolute;
  left: 46.3vw;
  bottom: 42.8vh;
  height: 16.3%;
  width: 7.2%;
 }
 #wriggly1{
  position: absolute;
  left: 53.3vw;
  bottom: 42.8vh;
  height: 16.3%;
  width: 7.2%;
 }
 #traveler1{
  position: absolute;
  left: 60.3vw;
  bottom: 42.8vh;
  height: 16.3%;
  width: 7.2%;
 }
 

 .win{
  position: relative;
  right: 9vw;
  bottom: 3vh;
  width: 7vw

}
 .won{
  position: absolute;
  left: 46.3vw;
  bottom: 62.8vh;
  height: 14.3%;
  width: 7.2%;
 }
.place{
 position: absolute;
 left: 32.3vw;
 bottom: 62.8vh;
 height: 14.3%;
 width: 7.2%;
}

#kingDuke2{
  display: none;
}
#daisy2{
  display: none;
}
#zoey2{
  display: none;
}
#wriggly2{
  display: none;
}
#traveler2{
  display: none;
}


#hunter2{
  display: none;
}
#heratic2{
  display: none;
}
#skeleton2{
  display: none;
}
#knight2{
  display: none;
}
#mushroom2{
  display: none;
}

#kingDuke3{
  display: none;
}
#daisy3{
  display: none;
}
#zoey3{
  display: none;
}
#wriggly3{
  display: none;
}
#traveler3{
  display: none;
}



 .Monsters{
  position: absolute;
  left: 60vw;
  bottom: 62.8vh;
 }

 #heratic{
  display: none;
 }
 #skeleton{
  display: none;
 }
 #mushroom{
  display: none;
 }
 #knight{
  display: none;
 }
 #hunter{
  display: none;
 }