body{
  background-image: url("AccurateScrawnyAnkole-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Yatra One', cursive, sans-serif;
  font-size: x-large;
}
canvas{
  background-image: url('360_F_129056060_uIOMK62942CHO29wSVkOVfjf9BBrTOeD.jpg');
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}
#start{

  position: absolute;
  bottom: 50%;
  right: 38%;
  width: 25%;
  height: 5%;
}
#reset{
  display: none;
  position: absolute;
  bottom: 40%;
  right: 38%;
  width: 25%;
  height: 5%;
}
#Score{
  position: absolute;
  color: aqua;
  top: 40%;
}
#pScore{
  position: absolute;
  color: aqua;
  top: 45%;
}
#aiScore{
  position: absolute;
  color: aqua;
  top: 50%;
}
#topPart{
  position: absolute;
  color: aqua;
  right: 45%;
  top: 1%;
}
#instructions{
  
  position: absolute;
  color: aqua;
  right: 25%;
  top: 1%;
  word-wrap: break-word;
}


#monsterLvls{
  position: absolute;
  right: 26vw;
  top: 42vh;
  color: crimson;
  font-size: small;
}
#playerLvl{
  position: absolute;
  right: 65vw;
  top: 58vh;
  color: aqua;
  font-size: small;
}

#btnOne{
  position: relative;
  left: 11vw;
  bottom: 35vh;
}
#btnTwo{   
  position: relative;
  left: 19vw;
  bottom: 35vh;
} 
#btnThree{ 
  position: relative;  
  left: 27vw;
  bottom: 35vh;
} 
#btnFour{   
  position: relative;
  bottom: 35vh;
  left: 35vw;
} 
#btnFive{  
  position: relative;
  bottom: 35vh;
  left: 43vw;
}  
#btnSix{    
  position: relative;
  bottom: 35vh;
  left: 51vw;
}
