body{
  background-image: url("AccurateScrawnyAnkole-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Yatra One', cursive, sans-serif;
  font-size: x-large;
}
canvas{
  background-image: url('360_F_129056060_uIOMK62942CHO29wSVkOVfjf9BBrTOeD.jpg');
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}
#start{
  display: none;
  position: absolute;
  bottom: 50%;
  right: 38%;
  width: 25%;
  height: 5%;
}

#Score{
  position: absolute;
  color: aqua;
  top: 40%;
}
#pScore{
  position: absolute;
  color: aqua;
  top: 45%;
}
#aiScore{
  position: absolute;
  color: aqua;
  top: 50%;
}





#btnOne{
  position: absolute;
  left: 30vh;
  bottom: -3%;
}
#btnTwo{   
  position: absolute;
  left: 43vh;
  bottom: -3%;
} 
#btnThree{ 
  position: absolute;  
  left: 56vh;
  bottom: -3%;
} 
#btnFour{   
  position: absolute;
  bottom: -3%;
  left: 69vh;
} 
#btnFive{  
  position: absolute;
  bottom: -3%;
  left: 82vh;
}  
#btnSix{    
  position: absolute;
  bottom: -3%;
  left: 95vh;
}
